:root {
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #000;
  --color-dark-333: #333;
  --color-dark-444: #444;
  --color-dark-555: #555;
  --color-dark-666: #666;
  --color-dark-777: #777;
  --color-dark-888: #888;
  --color-dark-999: #999;
  --color-light: #fff;
  --color-accent: lightgreen;
  --font-sans: "gelato-luxe", sans-serif;
  --font-serif: "poppins", serif;
  --line-height: 1.5;
  --transition: all 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(assets/images/pexels-cottonbro-studio-5650695.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

p {
  line-height: var(--line-height);
  font-family: var(--font-serif);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero__title {
  font-weight: 400;
  font-size: 225px;
  color: var(--color-light);
  text-shadow: 5px 5px #333;
  margin-top: 0;
  max-height: 150px;
}
.hero__title-login {
  margin-bottom: 12rem;
  max-height: 150px;
}
.hero__text {
  font-weight: 700;
  font-style: italic;
  color: var(--color-light);
  font-size: 30px;
  max-width: 500px;
  margin: auto;
}
.hero__text span {
  font-family: var(--font-sans);
  text-shadow: 3px 3px 3px var(--color-dark);
}
.hero__form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero__form ::placeholder {
  color: var(--color-dark);
  font-size: 1rem;
  font-family: var(--font-serif);
}
.hero__form .password-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__form .password-input:hover .material-symbols-outlined {
  color: var(--color-accent);
}
.hero__form .password-input span {
  position: absolute;
  margin-left: 300px;
  cursor: pointer;
}
.hero__input {
  min-height: 2.5rem;
  width: 350px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid var(--color-dark);
  transition: var(--transition);
}
.hero__input:hover {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
}
.hero__input:hover::placeholder {
  color: var(--color-light);
  font-size: 1rem;
}
.hero__input:hover:focus::placeholder {
  color: transparent;
}
.hero__button {
  width: 350px;
  height: 3rem;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 30px;
  margin-top: 6rem;
  transition: var(--transition);
  cursor: pointer;
}
.hero__button:hover {
  background-color: transparent;
  border: 1px solid var(--color-light);
}
.hero__button:hover .hero__link {
  color: var(--color-light);
}
.hero__link {
  font-family: var(--font-serif);
  font-size: 1rem;
  color: var(--color-dark);
}
.hero__signup {
  color: var(--color-dark-999);
  font-weight: 700;
}
.hero__signup--link {
  color: var(--color-light);
}
.hero__signup--link:hover {
  transition: var(--transition);
  color: var(--color-accent);
}
.hero-login {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.terms {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: var(--color-light);
  bottom: 0;
  left: 0;
}
.terms a {
  color: var(--color-dark-777);
}

.forgot-password {
  font-size: 12px;
  color: var(--color-light);
  margin-top: 2rem;
  font-family: var(--font-serif);
  cursor: pointer;
}

.other-options {
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.other-options__all {
  transition: var(--transition);
  border-radius: 30px;
  width: 250px;
  height: 3rem;
  font-size: 1rem;
  font-family: "poppins";
  border: 1px solid var(--color-dark);
  cursor: pointer;
}
.other-options__all:hover {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
}
.other-options__facebook, .other-options__twitter, .other-options__gmail {
  transition: var(--transition);
  border-radius: 30px;
  width: 250px;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "poppins";
  border: 1px solid var(--color-dark);
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  cursor: pointer;
}
.other-options__facebook svg, .other-options__twitter svg, .other-options__gmail svg {
  width: 25px;
  padding-bottom: 0.2rem;
}
.other-options__facebook:hover, .other-options__twitter:hover, .other-options__gmail:hover {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
}
.other-options__facebook--visible, .other-options__twitter--visible, .other-options__gmail--visible {
  visibility: visible;
  transition: var(--transition);
  opacity: 1;
}
.other-options__facebook:hover {
  background-color: rgba(66, 103, 178, 0.5);
}
.other-options__twitter:hover {
  background-color: rgba(29, 161, 242, 0.5);
}
.other-options__gmail:hover {
  background-color: rgba(219, 68, 55, 0.5);
}

.checkbox-container {
  max-width: 300px;
  margin: auto;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
}
.checkbox-container .switch {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2em;
}
.checkbox-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox-container .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #e8e8e8;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox-container .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: var(--color-light);
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox-container .switch input:checked + .slider {
  background: rgb(46, 223, 46);
}
.checkbox-container .switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}
.checkbox-container .switch input:checked + .slider:before {
  transform: translateX(1.6em);
}
.checkbox-container .signin {
  font-family: var(--font-serif);
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background-color: var(--color-light);
  background-size: 400%;
  color: var(--color-dark);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.checkbox-container .signin:hover {
  color: var(--color-light);
}
.checkbox-container .signin:hover::before {
  transform: scaleX(1);
}
.checkbox-container .signin-content {
  position: relative;
  z-index: 1;
}
.checkbox-container .signin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, rgb(93, 233, 128) 10.8%, rgb(39, 151, 2) 94.3%);
  transition: all 0.4s;
}

.remember-me-text {
  color: var(--color-light);
  font-family: var(--font-serif);
  font-size: 14px;
  padding-top: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 878px) {
  .hero__title {
    font-size: 185px;
    padding-top: 50px;
  }
  .terms {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 130px;
  }
  .hero__title-login {
    padding-top: 100px;
  }
  .hero__text {
    font-size: 20px;
    max-width: 350px;
  }
  .terms {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 100px;
  }
  .hero__title-login {
    padding-top: 150px;
  }
  .hero__text {
    font-size: 16px;
  }
  .terms {
    font-size: 8px;
  }
  .other-options__facebook, .other-options__twitter, .other-options__gmail {
    height: 1.8rem;
    font-size: 0.5rem;
  }
  .other-options__facebook svg, .other-options__twitter svg, .other-options__gmail svg {
    width: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
