:root {

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;


    --border-radius: 0px;


    --color-dark: #000; 
    --color-dark-333: #333;
    --color-dark-444: #444;
    --color-dark-555: #555;
    --color-dark-666: #666;
    --color-dark-777: #777;
    --color-dark-888: #888;
    --color-dark-999: #999;

    --color-light: #fff;

    --color-accent: lightgreen;
    
    --font-sans: 'gelato-luxe', sans-serif;
    --font-serif: 'poppins', serif;

    --line-height: 1.5;

    --transition: all 0.3s;
}