* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(assets/images/pexels-cottonbro-studio-5650695.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}